@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
body {
     margin: 0;
     font-family: 'Josegin Sans', sans-serif;
}

/* MEDIDAS !!!! 100vw ----> 1000px

   MEDIDAS !!!! 1vh ------> 10px */

.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #130b18;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex; /*O SEGREDO DA RESPONSIVIDADE*/
    justify-content: center;
    align-items: center;
    flex-direction: column; /*DEFINE A FORMATAÇÃO COMO COLUNA DOS DOIS H1*/
}

.left-login > h1 {
    font-size: 2.5vw;
    color: #ff77b7;
    /*PASSANDO ATRIBUTOS ALEM DA FORMATAÇÃO NO ESPAÇO DO DISPLAY X E Y E TALS*/
}

.left-login-image{
    width: 35vw;
}

.right-login{ /*REFERENTE A BORDA QUE VAI EM VOLTA DOS INPUTS DO LOGIN*/

    width: 100vh;
    height: 100vh;
    display: flex; /*O SEGREDO DA RESPONSIVIDADE*/
    justify-content: center;
    align-items: center;
    
    

}

.card-login{ /*REFERENTE A BORDA QUE VAI EM VOLTA DOS INPUTS DO LOGIN*/
    width: 40%;
    height:40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px 35px;
    background: #2f2841;
    border-radius: 60%;
    box-shadow: 0px 10px 40px #b4073b56;
}

.card-login > h1 {
    color: #ff77b7;
    font-weight: 800;
    margin: 0;
}   

.textfield{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 15px;
    background: #584a7a;
    color: #f0f0f0;

    font-size: 12pt;

    box-shadow: 0px 10px 40px #b4073b56;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #ff77b7;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
   color: #881188; 
}

.btn-login{
    width:  60%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 20px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #ff77b7;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #ff77b7;
}   